*.jpg
server/components/AutoBuild/public/app/css/index.css
server/components/AutoBuild/public/app/css/index.css
*.jpg
server/components/AutoBuild/public/pc/index.html
server/components/AutoBuild/public/app/index.html