@import "../../_settings";
.clkArea {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    .content {
        height: 100%;
        &.ac {
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 100%;
                height: 100%;
                background-color: $active-color-bg;
            }
        }
    }
    .right-up-btn {
        padding: 10px;
    }
    .dragable {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 10px;
        height: 10px;
        background-color: orange;
        cursor: se-resize;
    }
}