//css modules处理
:local{
    .imgCoporation{
        overflow-y: auto;
        //min-width: 900px;
        border: 1px dashed grey;
        text-align: center;
        &:empty{
            border: none;
        }
        img {        
            width: 100%;
        }
    }
}
